* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.screen {
  height: 80px;
  min-width: 300px;
  border: 1px solid saddlebrown;
  text-align: right;
  padding-right: 5px;
}

table {
  width: 100%;
  text-align: center;
  border: 1px solid blueviolet;
  border-collapse: collapse;
}

td {
  height: 60px;
  width: 60px;
  border: 1px solid saddlebrown;
}

.content {
  width: 300px;
}