* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.gradient_bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}

.content {
  background-color: #0c253b;
  border-radius: 8px;
  color: #f7fdfd;
  width: 350px;
  margin: 0 auto;
  margin-top: 5em;
}

.screen {
  height: 180px;
  width: 100%;
  text-align: right;
  padding: 0.5em 0;
  padding-right: 5px;
  border-bottom: 1px solid #1f7db7;
  display: flex;
  flex-direction: column;
}

.blue {
  color: #5bb8f1;
}

.saddlebrown {
  color: #ff8b51;
}

h1 {
  padding: 0;
  margin: 0;
  text-size-adjust: auto;
}

table {
  background-color: #0b2742;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  border-spacing: 7px;
  border-radius: 25px 25px 5px 5px;
  padding: 0.5em;
}

td {
  height: 60px;
  width: 50px;
  font-size: 1em;
  font-weight: 100;
  border-spacing: 10px;
  /* border: 2px solid saddlebrown; */
  border-radius: 5px;
  background-color: #0e2f4e;
  cursor: pointer;
}

td:active {
  background-color: #1f7db7;
}
