* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

.no-m-p {
  margin: 0;
  padding: 0;
}

.content {
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.screen {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  text-align: right;
  padding: 0px 5px;
  background-color: #443437;
  color:  white;
}

.screen-val {
  font-size: 40px;
}

Table {
  height: 100%;
  width: 100%;
  border: none;
  text-align: right;
}

.number-btn {
  border: 1px solid #921528;
  height: 70px;
  min-width: 60px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: white;
}

.sign-btn {
  border: 1px solid #921528;
  height: 70px;
  min-width: 60px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: #D12D4D;
  text-align: center;
}